body{
	font-size: 10px;
	background-color: #fff;
	font-family: Arial, "Times New Roman", "Microsoft YaHei", SimSun, SimHei;
	background-color: #fafafa;
}
*{
	margin: 0;
	padding:0;
	list-style: none;
	text-decoration: none;
}

/**************头部***************/
#it_header .top-bar{
	color:#29b078;
	height: 10px;
}
#it_header .top-bar a{
	margin-right: 10px;
}
#it_header .top-bar .top-bar-2{
	text-align: right;
}

#bottom-nav{
	margin-top: 10px;
	background-color: #29b078;
	margin-bottom:-1px;
}
#it-nav  li a{
	color: #fff;
	height: 60px;
	line-height: 30px;
}

#it-nav  .navbar-nav  li.active a,
#it-nav .navbar-nav  li a:hover{
	background-color:transparent;
	border-bottom:2px solid #fff;
}
/**************头部***************/

/**************展示图***************/
.img-show{
	width: 100%;
}

/**************展示图***************/
.top-nav{
	margin:10px 0;
}
.label{
	color:#29b078;
}

/*************主体部分***************/
main{
	margin-bottom: 100px;
}
.main-left{
	border: 1px solid #ededed;
	background-color: #fff;
	margin-right: 10px;

}
.main-left .corp{
	text-align: center;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ededed;
}
.main-left li{
	margin:20px 0;
}

.main-left   li a{
	color:#29b078;
	font-size: 10px;
}
.main-right {
	background-color: #fff;
	border: 1px solid #ededed;
}

.main-right .row{
	border-bottom: 1px solid #ededed;

}
.main-right .tudou{
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 25px;
	height: 40px;
	width: 120px;
	background-image: url(../imgs/tudou.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
p {
	padding:10px;
	color:#999;
}

/*************主体部分***************/

/*************底部***************/
.foot-main {
	overflow: hidden;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;
	background-color: #26a26f;

}
.foot-bottom {
	width: 100%;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background-color: #26a26f;
	border-top: 1px solid #32c086;
}
.foot-main a{
	color: #fff;
	font-size: 14px;
}
.main-top {
	display: inline-block;
	margin-right: 30px;
}
.word-title {
	margin-top: 20px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
}
.word-link {
	margin-top: 50px;
	padding-right: 10px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	word-spacing: 5px;
	color: #fff;
	font-size: 13px;
}
.main-bottom {
   	 display: inline-block;
}
.word-website {
	margin-top: 15px;
	margin-right: 20px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	color: #fff;
	font-size: 13px;
}
.code-box {
	float: right;
	height: 100px;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
}
.qr-code {
	width: 80px;
	height: 80px;
	background-image: url(../imgs/wechat.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
/*************底部***************/