html{
	
}
body{

	margin: 0;
	background-color: #fff;
	}
.header{
	background-color: #5fc0cd;
	width: 100%;
	height: 3.7rem;
	position: fixed;
 	top: 0;
    	left: 0;
	display: flex;
	justify-content: center;
	align-items:center;
	}
.headbox{
	width: 11rem;
	height: 2.5rem;
	border-radius: 0.3rem;
	background-color: #55a8b3;
	display: flex;
	justify-content: center;
	align-items:center;
	}
.but1{
	color: #fff;
	width: 5.5rem;
	height: 2.5rem;
	border: 0;
	border-radius: 0.3rem;
	background-color: #55a8b3;
	white-space: nowrap;
	} 
.but2{
	background-color: #fff;
	color: #5fc0cd;
	width: 5.5rem;
	height: 2.5rem;
	border: 0;
	border-radius: 0.3em;
	white-space: nowrap;
	
	}
.ico1{
	width:1.8rem;
	height:1.7rem;
	position: absolute;
	right:5%;
	background-image: url(sprites.jpg);
    	background-repeat: no-repeat;
    	background-position: -0.75rem -0.46rem;
	}
.nav-boxstlye {
	position: fixed;
	top: 3.7rem;
	left: 0;
	display: flex;
	flex-direction: row;
	border-bottom: .0625rem solid #e1e5e7;
	height: 2.7rem;
	width: 100%;
	padding: .25rem 0 .25rem;
	background: #fff;
}

ul,
ul a,
li,
li a {
	list-style: none;
	text-decoration: none;
	color: #b0b0b0;
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
}

.nav-boxstlye-son {
	height: 1.7rem;
	width: 33.4%;
	border: none;
	border-right: .0625rem solid #e1e5e7;
	position: relative;
	}

.a-stlye {
	display: block;
	border: none;
	line-height: 1.7rem;
	text-align: center;
}

.a-bottom {
    	display: none;
}

ul li a {
	display: inline-block;
	height: 1.7rem;
	line-height: 1.7rem;
	text-align: center;
	background-color: #fff;
	width: 100%;
	color: black;
}

.nav-boxstlye-son:hover ul {
   	 display: block;
}

ul li a:hover {
    	background-color: #5fc0cd;
}



.triangle-top {
	width: 0;
	height: 0;
	border-top: .3125rem solid #afbac0;
	border-right: .3125rem solid transparent;
	border-left: .3125rem solid transparent;
	position: absolute;
	right: .5rem;
	top: 0.85rem;
}
.main{
	margin-top: 2rem;
	padding: 5rem 0 3rem 0;
}
.smallbox{
	border-bottom: .0625rem solid #e1e5e7;
	height: 5.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.8rem;
	padding: 0.2rem 0 0.5rem 0.5rem;
}
.date{
	color: #999;
	padding-left: 2.5rem;
   	background: url(sprites.jpg) no-repeat -0.75rem -3.3rem;
}
.location{
	color: #999;
	padding-left: 2.5rem;
   	background: url(sprites.jpg) no-repeat -0.75rem -5rem;
}
.time{
	display: flex;
    	justify-content: space-between;
}
.black{
	color:#333;
	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow:hidden;
	padding-left:2.4rem;
	width: 15rem;
}
.red{
	width:8.5rem;
	color:#e63b0e;
	text-align: center;
    	padding-right:2rem;
    	background: url(sprites.jpg) no-repeat  5rem -6.5rem;
    	white-space: nowrap;
}
.footer{
	background-color: #f8fafb;
	width: 100%; 
	height: 3.5rem;
	position: fixed;
	border-top: .0625rem solid #d1d2ce;
 	bottom: 0;
    	left: 0;
	display: flex;
	justify-content: space-around;
}
.footerbox{
	height: 2rem;
	width: 4.8rem; 
	padding-top:2.4rem;
	margin-top: 0.1rem;
	text-align: center;
	font-size: .8rem;
}
.footer-text1 {
	color: #5fc0cd;
	background: url(sprites.jpg) 0.5rem -7.55rem no-repeat;
  	
}
.button{
	width: 63px;
	height: 60px;
	margin-top:2px ;
	background: url(sprites.jpg) -0.75rem -10.9rem no-repeat;
	border-radius: 14px;
	
}
.footer-text2{
	color: #999;
	background: url(sprites.jpg) 0.45rem -14.3rem no-repeat;
  
}
.box{
	height: 3rem;
}